/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/

body {
  font-family: sans-serif;
}

.padding {
  padding: 2rem;
}

.element {
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: black;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

code {
  background-color: #EEE;
  padding: 0.5rem;
  display: block;
}

p {
  font-family: 'Lato';
}

img {
  width: 100%;
  max-width: fit-content;
  height: auto;
}

.borders{
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: rgb(254, 209, 175);
}

/*
COLOURS
*/

#darkblue {
  background-color: rgb(0, 85, 122);
  padding: 1rem;
  width: 50%;
}

#mediumblue {
  background-color: rgb(47, 165, 177);
  padding: 1rem;
  width: 50%;
}

#lightblue {
  background-color: rgb(204, 228, 236);
  padding: 1rem;
  width: 50%;
}

#mediumorange {
  background-color: rgb(254, 209, 175);
  padding: 1rem;
  width: 50%;
}

#light {
  background-color: rgb(252, 241, 219);
  padding: 1rem;
  width: 50%;
}

/*GENERAL PAGE CSS*/

.bg{
  background-color: rgb(0, 85, 122);
  margin-bottom: 0rem;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}

/* 
  INTERACTIVE ELEMENTS -------------------
*/

/*INTEXT LINK*/

.intext {
  color: rgb(254, 209, 175);
  text-decoration: none;
}

.intext:hover, .intext:focus, .intext:active {
  color: rgb(47, 165, 177);
  text-decoration: underline;
}

/* Styling for the navigation button */

.navbutton {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  padding: 0.75rem;
  color: rgb(252, 241, 219);
  background-color: rgb(0, 85, 122);
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.navbutton:hover, .navbutton:focus, .navbutton:active {
  font-weight: bold;
  background-color: rgb(47, 165, 177);
}

.submitreset {
  font-family: 'Montserrat', sans-serif;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  color: white;
  border-radius: 0.2rem;
  border: none;
  background-color: rgb(47, 165, 177);
}

.submitreset:hover, .submitreset:active {
  background-color: rgb(204, 228, 236);
  color: rgb(47, 165, 177);
  text-decoration: none;
  transition: 0.5s;
}

.submitreset:focus {
  font-weight: bold;
}

/*INPUT*/

input {
  border: 0.1rem solid rgb(47, 165, 177);
  border-radius: 0.3rem;
  padding: 0.5rem;
  background-color: white;
}

/*IMAGE AS A LINK*/

.img-overlay{
  position: relative;
  height:fit-content;
  width: fit-content;
}

.img-text{
  background: rgb(47, 165, 177);
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: -1rem;
  height: 100%;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
}



.img-overlay:hover .img-text{
  visibility: visible;
  opacity: 75%;
}

a>.img-overlay:hover, a>.img-overlay:active, a>img-overlay:focus {
  opacity: 0.5;
  transition: 0.5s ease;
}

/* 
  TEXT ELEMENTS -------------------
*/

h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

h2{
  font-family: 'Montserrat', sans-serif;
}

h3{
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
}

h4{
  font-family: 'Helvetica', sans-serif;
}

/*************************************
LIST ITEMS ELEMENTS
REFERENCE: 
https://blog.prototypr.io/create-beautiful-numbered-lists-with-css-counters-726e705d9e14
***************************************/

.ol-styling {
  list-style: none;
  counter-reset: numlist;
}

.num-list {
  counter-increment: numlist;
  margin-bottom: 0.5rem;
}

.num-list:before {
  content: counter(numlist);
  font-family: 'Montserrat', sans-serif;
  background: rgb(47, 165, 177);
  color: white;
  border-radius: 50%;
  width: 1.75rem;
  height: 1.75rem;
  padding-top: 0.25rem;
  margin-right: 0.75rem;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
}

.bullet {
  list-style-type: '✦';
  padding-inline-start: 1ch;
  color: rgb(47, 165, 177);
}

/* 
  COMBINED ELEMENTS -------------------
*/

.nav-side{
  padding: 0.5rem;
  height: 100%;
  width: 20%;
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  overflow-x: hidden; 
  background-color: rgb(0, 85, 122);
}

.nav-side .name{ /*Displays Name on desktop*/
  font-family: 'Montserrat', sans-serif;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  font-size: 2em;
  font-weight: bold;
  padding: 0.75rem;
  color: rgb(252, 241, 219);
  text-decoration: none;
}

.nav-side .name-mobile{ /*Name on mobile*/
  font-family: 'Montserrat', sans-serif;
  font-size: 1.75em;
  margin-top: 0.5rem;
  font-weight: bold;
  color: rgb(252, 241, 219);
  text-decoration: none;
  text-align: center;
  display: none;
}

.nav-side .name:hover{
  color: rgb(254, 209, 175);
}

.nav-side .social{
  text-align: center;
}

.nav-side a{
  display: block;
  text-align: center;
}

.nav-side label, #hamburger {
  display: none;
}

.navitems {
  display: block;
}

.nav-side .footer{
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  vertical-align: bottom;
  color: rgb(47, 165, 177);
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  text-decoration: none;
}

.nav-side .footer:hover{
  text-decoration: underline;
  color: rgb(254, 209, 175);
}

.bio{
  text-align: center;
  color: rgb(254, 209, 175);
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.bio p{
  font-size: 0.8rem;
}

.bio-mobile{
  text-align: center;
  color: rgb(254, 209, 175);
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  display: none;
}

/*Contact form*/
.contact input{
  font-family: 'Lato', sans-serif;
  display: block;
  border-radius: 0.3rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.contact textarea{
  width: 90%;
  height: 10rem;
  margin-bottom: 2rem;
  border: 0.1rem solid rgb(47, 165, 177);
  border-radius: 0.3rem;
  padding: 0.5rem;
}

.contact label{
  display: block;
  margin-bottom: 0.2rem;
  margin-top: 0.2rem;
}


.gallery{
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  margin-left: 23%;
  margin-right: 2rem;
  margin-top: 5rem;
  max-width: 1000px;
}

.gallery h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 1rem -1.2rem;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
}

/* Content */
.content {
  padding: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  text-align: center;
}

.content img{
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 60rem){
  .column {
    width: 100%;
  }

  .gallery{
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

/* Styling social media icons
*/
.fa {
  margin: 0.5rem;
  text-decoration: none;
  text-align: center;
  color: rgb(254, 209, 175);
}

.fa:hover, .fa:focus, .fa:active{
  color: rgb(47, 165, 177);
}

/** MEDIA QUERIE
**/
@media screen and (max-width: 60rem) {
  .nav-side{
    display:block;
    height: auto;
    width: 100%;
  }

  .nav-side label {
    display: inline-block;
    color: white;
    font-style: normal;
    padding: 1.25rem;
  }
  .navitems a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-top: 0.1rem solid rgb(47, 165, 177);
  }

  /*Hides name, bio and star border in mobile drop down*/
  .bio, .nav-side .name, .nav-side .borders{ 
    display: none;
  }

  .nav-side .name-mobile{
    display: inline-block;
  }

  /**
  Toggles the hamburger icon in mobile view
  **/
  .navitems {
    display: none;
    float: none;
  }
  .nav-side input:checked~.navitems {
    display: block;
    float: none;
  }

  .contact input{
    width:100%;
  }
  .contact textarea{
    width: 100%;
  }
}