/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/

body {
  font-family: sans-serif;
}

.padding {
  padding: 2rem;
}

.element {
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: black;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

code {
  background-color: #EEE;
  padding: 0.5rem;
  display: block;
}

p {
  font-family: 'Lato';
}

img {
  width: 100%;
  max-width: fit-content;
  height: auto;
}

.borders {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: rgb(254, 209, 175);
}

.margin {
  margin-right: 5rem;
  margin-left: 5rem;
}

.title {
  text-align: center;
  font-size: 1.75em;
  color: rgb(10, 47, 81);
}

.subtitle {
  text-align: center;
  font-size: 1.25em;
  color: rgb(47, 165, 177);
  margin-top: 0.2rem;
}

/*
COLOURS
*/

#darkestblue {
  background-color: rgb(10, 47, 81);
  padding: 1rem;
  width: 50%;
}

#darkblue {
  background-color: rgb(0, 85, 122);
  padding: 1rem;
  width: 50%;
}

#mediumblue {
  background-color: rgb(47, 165, 177);
  padding: 1rem;
  width: 50%;
}

#lightblue {
  background-color: rgb(204, 228, 236);
  padding: 1rem;
  width: 50%;
}

#mediumorange {
  background-color: rgb(254, 209, 175);
  padding: 1rem;
  width: 50%;
}

#light {
  background-color: rgb(252, 241, 219);
  padding: 1rem;
  width: 50%;
}

/*GENERAL PAGE CSS*/

.bg {
  background-color: white;
  margin-bottom: 0rem;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}

/* 
  INTERACTIVE ELEMENTS -------------------
*/

/*INTEXT LINK*/

.intext {
  color: rgb(254, 209, 175);
  text-decoration: none;
}

.intext:hover, .intext:focus, .intext:active {
  color: rgb(47, 165, 177);
  text-decoration: underline;
}

/* Styling for the navigation button */

.navbutton {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  padding: 0.75rem;
  margin: 0;
  background-color: white;
  color: rgb(10, 47, 81);
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.navbutton:hover, .navbutton:focus, .navbutton:active {
  font-weight: bold;
  border-bottom: rgb(47, 165, 177) solid 0.2rem;
}

.submitreset {
  font-family: 'Montserrat', sans-serif;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  color: white;
  border-radius: 0.2rem;
  border: none;
  background-color: rgb(0, 85, 122);
}

.submitreset:hover, .submitreset:active {
  background-color: rgb(204, 228, 236);
  color: rgb(47, 165, 177);
  text-decoration: none;
  transition: 0.5s;
}

.submitreset:focus {
  font-weight: bold;
}

/*INPUT*/

input {
  border: 0.1rem solid rgb(47, 165, 177);
  border-radius: 0.3rem;
  padding: 0.5rem;
  background-color: white;
}

/*IMAGE AS A LINK*/

.img-overlay {
  position: relative;
  height: fit-content;
  width: fit-content;
}

.img-overlay:hover {
  opacity: 0.5;
  transition: 0.5s ease;
}

a>.img-overlay:hover, a>.img-overlay:active, a>.img-overlay:focus {
  opacity: 0.5;
  transition: 0.5s ease;
}

/* 
  TEXT ELEMENTS -------------------
*/

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
}

h4 {
  font-family: 'Helvetica', sans-serif;
}

/*************************************
LIST ITEMS ELEMENTS
REFERENCE: 
https://blog.prototypr.io/create-beautiful-numbered-lists-with-css-counters-726e705d9e14
***************************************/

.ol-styling {
  list-style: none;
  counter-reset: numlist;
}

.num-list {
  counter-increment: numlist;
  margin-bottom: 0.5rem;
}

.num-list:before {
  content: counter(numlist);
  font-family: 'Montserrat', sans-serif;
  background: rgb(47, 165, 177);
  color: white;
  border-radius: 50%;
  width: 1.75rem;
  height: 1.75rem;
  padding-top: 0.25rem;
  margin-right: 0.75rem;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
}

.bullet {
  list-style-type: '✦';
  padding-inline-start: 1ch;
  color: rgb(47, 165, 177);
}

/* 
  COMBINED ELEMENTS -------------------
*/

.navbar {
  margin-top: 3rem;
  margin-right: 5rem;
  margin-left: 5rem;
  padding: 0.5rem;
  position: relative;
  overflow-x: hidden;
  text-align: center;
  border-top: rgb(10, 47, 81) 0.15rem solid;
  border-bottom: rgb(10, 47, 81) 0.15rem solid;
  background-color: white;
}

.navbar .center {
  display: inline-block;
}

.navbar a {
  text-align: center;
}

.navbar label, #hamburger {
  display: none;
}

.navitems {
  display: block;
}

.footer {
  margin-top: 3rem;
  margin-right: 5rem;
  margin-left: 5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: white;
  color: rgb(10, 47, 81);
  text-align: center;
  border-top: rgb(10, 47, 81) 0.15rem solid;
}

.footer .text {
  color: rgb(10, 47, 81);
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  text-decoration: none;
}

.footer a {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  font-weight: bold;
  color: rgb(10, 47, 81);
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
  font-weight: bold;
  color: rgb(47, 165, 177);
}

.bio {
  text-align: center;
  color: rgb(254, 209, 175);
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.bio p {
  font-size: 0.8rem;
}

/*Contact form*/

.contact {
  border-radius: 0.5rem;
  padding: 1rem;
  margin-top: 1rem;
}

.contact .info {
  display: flex;
}

.contact .left-side {
  flex: 10 1 50%;
  text-align: center;
  margin-right: 1rem;
  margin-left: 1rem;
}

.contact .right-side {
  float: right;
  flex: 10 1 50%;
}

.contact h2, .contact p {
  color: rgb(10, 47, 81);
}

.contact input {
  font-family: 'Lato', sans-serif;
  width: 50%;
  display: block;
  border-radius: 0.3rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.contact textarea {
  width: 80%;
  height: 10rem;
  margin-bottom: 2rem;
  border: 0.1rem solid rgb(47, 165, 177);
  border-radius: 0.3rem;
  padding: 0.5rem;
}

.contact label {
  display: block;
  margin-bottom: 0.2rem;
  margin-top: 0.2rem;
}

.about {
  border-radius: 0.5rem;
  padding: 1rem;
  margin-right: 1rem;
}

.about .info {
  margin-right: 5rem;
  margin-left: 5rem;
  display: flex;
}

.about .left-side {
  margin-right: 2rem;
  flex: 10 1 40%;
}

.about .right-side {
  float: right;
  margin-right: 2rem;
  flex: 10 1 55%;
}

.socials {
  text-align: center;
}

.project{
  padding: 1rem;
  margin-top: 1rem;
}

.project img{
  margin-top: 2rem;
}

.project .info {
  display: flex;
}

.project .left-side {
  margin-right: 2rem;
  flex: 10 1 50%;
  text-align: center;
}

.project .right-side {
  margin-right: 2rem;
  flex: 10 1 50%;
  text-align: center;
}

.personal {
  padding: 1rem;
  margin-top: 1rem;
  text-align: center;
}

.modular-gallery {
  margin-top: 1rem;
  text-align: center;
}

.modular-gallery .row>.col {
  padding: 0.5rem;
}

/* Create four equal columns that floats next to eachother */

.modular-gallery .col {
  display: inline-block;
  text-align: center;
}

.modular-gallery .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

.modular-gallery .modal-content {
  margin: auto;
  padding: 0;
  text-align: center;
}

.modular-gallery .close {
  position: absolute;
  color: white;
  top: 0.5rem;
  right: 1rem;
  font-size: 3rem;
  font-weight: bold;
}

.modular-gallery .close:hover, .modular-gallery .close:focus {
  color: rgb(47, 165, 177);
  text-decoration: none;
  cursor: pointer;
}

.modular-gallery .slides {
  display: none;
}

.modular-gallery .caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.modular-gallery .slides img{
  margin-top: 2rem;
}

.modular-gallery img.demo {
  opacity: 0.6;
}

.modular-gallery .active, .modular-gallery .demo:hover {
  opacity: 1;
}

.modular-gallery img.hover-shadow {
  transition: 0.3s;
}

.modular-gallery .hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



@media screen and (max-width: 60rem) {
  .column {
    width: 100%;
  }
  .gallery {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

/* Styling social media icons
*/

.fa {
  margin: 0.5rem;
  text-decoration: none;
  text-align: center;
  color: rgb(0, 85, 122);
}

.fa:hover, .fa:focus, .fa:active {
  color: rgb(47, 165, 177);
}

/** MEDIA QUERIE
**/

@media screen and (max-width: 60rem) {
  .navbar {
    display: block;
    height: auto;
    margin: 0;
    width: 100%;
    border-top: none;
  }
  .navbar label {
    display: inline-block;
    color: rgb(10, 47, 81);
    font-style: normal;
    padding: 1.25rem;
  }
  .navitems a {
    box-sizing: border-box;
    display: block;
    width: 100%;
  }
  /**
  Toggles the hamburger icon in mobile view
  **/
  .navitems {
    display: none;
    float: none;
  }
  .navbar input:checked~.navitems {
    display: block;
    float: none;
  }
  .contact input {
    width: 100%;
  }
  .contact textarea {
    width: 100%;
  }
  .margin {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .about .info {
    flex-direction: column;
    margin-right: 2rem;
    margin-left: 2rem;
  }
  .contact .info {
    flex-direction: column;
    margin-right: 2rem;
    margin-left: 2rem;
  }
}