/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/

body {
  font-family: sans-serif;
}

.padding {
  padding: 2rem;
}

.element {
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: black;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

code {
  background-color: #EEE;
  padding: 0.5rem;
  display: block;
}

p {
  font-family: 'Lato';
}

img {
  width: 100%;
  max-width: fit-content;
  height: auto;
}

.borders {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: rgb(254, 209, 175);
}

/*
COLOURS
*/

#darkestblue {
  background-color: rgb(10, 47, 81);
  padding: 1rem;
  width: 50%;
}

#darkblue {
  background-color: rgb(0, 85, 122);
  padding: 1rem;
  width: 50%;
}

#mediumblue {
  background-color: rgb(47, 165, 177);
  padding: 1rem;
  width: 50%;
}

#lightblue {
  background-color: rgb(204, 228, 236);
  padding: 1rem;
  width: 50%;
}

#mediumorange {
  background-color: rgb(254, 209, 175);
  padding: 1rem;
  width: 50%;
}

#light {
  background-color: rgb(252, 241, 219);
  padding: 1rem;
  width: 50%;
}

/*GENERAL PAGE CSS*/

.bg {
  background-color: rgb(0, 85, 122);
  margin-bottom: 0rem;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}

.margin {
  margin-left: 23%;
}

/* 
  INTERACTIVE ELEMENTS -------------------
*/

/*INTEXT LINK*/

.intext {
  color: rgb(254, 209, 175);
  text-decoration: none;
}

.intext:hover, .intext:focus, .intext:active {
  color: rgb(47, 165, 177);
  text-decoration: underline;
}

/* Styling for the navigation button */

.navbutton {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  padding: 0.75rem;
  margin: 0;
  background-color: white;
  color: rgb(10, 47, 81);
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.navbutton:hover, .navbutton:focus, .navbutton:active {
  font-weight: bold;
  border-bottom: rgb(47, 165, 177) solid 0.2rem; 
}

.submitreset {
  font-family: 'Montserrat', sans-serif;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  color: white;
  border-radius: 0.2rem;
  border: none;
  background-color: rgb(0, 85, 122);
}

.submitreset:hover, .submitreset:active {
  background-color: rgb(204, 228, 236);
  color: rgb(47, 165, 177);
  text-decoration: none;
  transition: 0.5s;
}

.submitreset:focus {
  font-weight: bold;
}

/*INPUT*/

input {
  border: 0.1rem solid rgb(47, 165, 177);
  border-radius: 0.3rem;
  padding: 0.5rem;
  background-color: white;
}

/*IMAGE AS A LINK*/

.img-overlay {
  position: relative;
  height: fit-content;
  width: fit-content;
}

.img-text {
  background: rgb(47, 165, 177);
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: -1rem;
  height: 100%;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
}

.img-overlay:hover .img-text {
  visibility: visible;
  opacity: 75%;
}

a>.img-overlay:hover, a>.img-overlay:active, a>img-overlay:focus {
  opacity: 0.5;
  transition: 0.5s ease;
}

/* 
  TEXT ELEMENTS -------------------
*/

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
}

h4 {
  font-family: 'Helvetica', sans-serif;
}

/*************************************
LIST ITEMS ELEMENTS
REFERENCE: 
https://blog.prototypr.io/create-beautiful-numbered-lists-with-css-counters-726e705d9e14
***************************************/

.ol-styling {
  list-style: none;
  counter-reset: numlist;
}

.num-list {
  counter-increment: numlist;
  margin-bottom: 0.5rem;
}

.num-list:before {
  content: counter(numlist);
  font-family: 'Montserrat', sans-serif;
  background: rgb(47, 165, 177);
  color: white;
  border-radius: 50%;
  width: 1.75rem;
  height: 1.75rem;
  padding-top: 0.25rem;
  margin-right: 0.75rem;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
}

.bullet {
  list-style-type: '✦';
  padding-inline-start: 1ch;
  color: rgb(47, 165, 177);
}

/* 
  COMBINED ELEMENTS -------------------
*/

.navbar {
  padding: 0.5rem;
  position: relative;
  overflow-x: hidden;
  margin: 0 auto;
  text-align: center;
  border-top: rgb(10, 47, 81) 0.15rem solid;
  border-bottom: rgb(10, 47, 81) 0.15rem solid;
  background-color: white;
}

.navbar .center{
  display: inline-block;
}

.navbar a {
  text-align: center;
}

.navbar label, #hamburger {
  display: none;
}

.navitems {
  display: block;
}

.footer {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  vertical-align: bottom;
  color: rgb(47, 165, 177);
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  text-decoration: none;
}

.footer:hover {
  text-decoration: underline;
  color: rgb(254, 209, 175);
}

.bio {
  text-align: center;
  color: rgb(254, 209, 175);
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.bio p {
  font-size: 0.8rem;
}

/*Contact form*/

.contact {
  background-color: rgb(47, 165, 177);
  border-radius: 0.5rem;
  padding: 1rem;
  margin-top: 1rem;
  margin-right: 1rem;
}

.contact h3, .contact p {
  color: rgb(10, 47, 81);
}

.contact input {
  font-family: 'Lato', sans-serif;
  display: block;
  border-radius: 0.3rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.contact textarea {
  width: 90%;
  height: 10rem;
  margin-bottom: 2rem;
  border: 0.1rem solid rgb(47, 165, 177);
  border-radius: 0.3rem;
  padding: 0.5rem;
}

.contact label {
  display: block;
  margin-bottom: 0.2rem;
  margin-top: 0.2rem;
}

.about {
  background-color: rgb(47, 165, 177);
  border-radius: 0.5rem;
  padding: 1rem;
  margin-top: 1rem;
  margin-right: 1rem;
}

.about .text {
  color: rgb(10, 47, 81);
}

.works {
  background-color: rgb(47, 165, 177);
  border-radius: 0.5rem;
  padding: 1rem;
  margin-top: 1rem;
  margin-right: 1rem;
}

/*Portfolio Gallery*/

.gallery {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  margin-left: 23%;
  margin-right: 2rem;
  margin-top: 5rem;
  max-width: auto;
}

.gallery h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 1rem -1.2rem;
}

/* Create four equal columns that floats next to each other */

.column {
  float: left;
  width: 50%;
}

/* Content */

.content {
  padding: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  text-align: center;
  color: rgb(254, 209, 175)
}

.content img {
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 60rem) {
  .column {
    width: 100%;
  }
  .gallery {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

/* Styling social media icons
*/

.fa {
  margin: 0.5rem;
  text-decoration: none;
  text-align: center;
  color: rgb(254, 209, 175);
}

.fa:hover, .fa:focus, .fa:active {
  color: rgb(47, 165, 177);
}

/** MEDIA QUERIE
**/

@media screen and (max-width: 60rem) {
  .navbar {
    display: block;
    height: auto;
    width: 100%;
  }
  .navbar label {
    display: inline-block;
    color: white;
    font-style: normal;
    padding: 1.25rem;
  }
  .navitems a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-top: 0.1rem solid rgb(47, 165, 177);
  }
  /*Hides name, bio and star border in mobile drop down*/
  .bio, .navbar .name, .navbar .borders {
    display: none;
  }
  .navbar .name-mobile {
    display: inline-block;
  }
  /**
  Toggles the hamburger icon in mobile view
  **/
  .navitems {
    display: none;
    float: none;
  }
  .navbar input:checked~.navitems {
    display: block;
    float: none;
  }
  .contact {
    margin-top: 7rem;
  }
  .contact input {
    width: 90%;
  }
  .contact textarea {
    width: 90%;
  }
  .margin {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}